.search {
  height: 5vw;
  margin: 1vw auto;
  padding-top: 1vw;
  display: flex;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
}

.input {
  height: 2vw;
  font-size: 16px;
  padding: 5px;
}